{% extends "base.html" %}
{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold text-irish-green mb-4">About LeagueLedger</h1>
    <p class="mb-4">
        LeagueLedger is your ultimate companion for tracking pub quiz team achievements. We aim to provide a fun and engaging platform for quiz enthusiasts to connect, compete, and celebrate their knowledge.
    </p>
    <p class="mb-4">
        As a pub quiz master, you can generate printout QR codes for your top-ranking teams, distribute them, and let teams redeem them for points on our website.
    </p>
    <p class="mb-4">
        As a pub quiz team member, you can redeem QR codes, create a team name, invite other members, and use social logins for easy access.
    </p>
    <h2 class="text-xl font-semibold text-irish-green mt-6 mb-2">Our Mission</h2>
    <p class="mb-4">
        To enhance the pub quiz experience by providing a seamless and intuitive platform for tracking team progress, fostering friendly competition, and celebrating the spirit of trivia.
    </p>
    <h2 class="text-xl font-semibold text-irish-green mt-6 mb-2">Our Team</h2>
    <p class="mb-4">
        LeagueLedger is an Open-Source initiative and part of the KaufDeinQuiz platform. It is brought to you by Christian Louis IT Beratung und Medienproduktion, a team of dedicated quiz enthusiasts and software developers passionate about creating innovative solutions for the pub quiz community.
    </p>
</div>
{% endblock %}
